{% extends 'layout.html' %}

{% block content %}

{% load static %}

{% load i18n %}

<section class="pt-5">
  <header class="row" style="margin-top: 55px; margin-bottom: 55px;">
    <div class="img-profile col-md-4 d-flex align-items-center justify-content-center">
      <img class="profile my-5 shadow-lg border-gold" src="{% static 'files/perfil2.webp' %}" alt="profile" />
    </div>

    <div class="col-md-8 m-auto">
      <h1 class="display-3 fw-bold"><strong class="text-gradient">Jonathan Meza</strong></h1>
      <div class="fullStack">
        <h3 class="fullStack-color mb-4">Full Stack Python Developer.</h3>
      </div>

      <p class="lead" style="text-align: justify">
        {% blocktrans trimmed %}
        Hi, I am a software developer focused on Full Stack web development. With experience acquired through work
        experience, I have cultivated solid skills in design patterns, software architecture and documentation. My
        versatile approach spans both front-end, where I use JavaScript and React, and back-end, using Python and
        Django. I am also dabbling in exploring AWS services to implement Continuous Delivery and Continuous Deployment
        (CI/CD) practices.
        {% endblocktrans %}
      </p>
      <a class="btn my-3 btn-lg buttonHover rounded-pill px-4"
        href="https://curriculum-vitae-jonathan-meza.netlify.app/" target="_blank">
        <i class="fas fa-download me-2"></i> {% trans "Download CV" %}
      </a>
    </div>
  </header>
</section>

<hr />

{% comment %} RECORRER LA CONSULTA {% endcomment %}

<section id="projects" class="pt-4">
  <div class="row text-center" style="margin-top: 55px;">
    <h3>{% trans "Personal Projects" %}</h3>
    <p>
      {% blocktrans trimmed %} Each project is a journey where curiosity and
      creativity intertwine. {% endblocktrans %}
    </p>

    {% for project in projects%}

    <div class="project-one col-md-4 p-4">
      <div class="card bg-black card-project h-100 border-gold shadow-sm">
        <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top img-fluid project-img" />
        <div class="card-body text-light d-flex flex-column">
          <h2 class="h4 fw-bold text-gradient mb-3">{{project.title}}</h2>
          <p>{{project.description}}</p>

          <div class="mt-auto pt-3 border-top border-secondary">
            <div class="d-flex justify-content-between git-demo gap-2">
              <a href="{{project.url}}" target="_blank" class="buttonHover rounded-0 btn-sm btn flex-fill">GitHub</a>
              <a href="{{project.demo}}" target="_blank" class="buttonHover rounded-0 btn-sm btn flex-fill">Demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor%}

  </div>
</section>

<hr />

{% endblock content %}